@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Areas/Identity/Pages/_AuthLayout.cshtml";

}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta name="copyright" content="CBA Manitoba, /About">

    <title>CBA Manitoba</title>

    <link rel="stylesheet" href="~/assets/css/maicons.css">
    <link rel="stylesheet" href="~/assets/css/bootstrap.css">
    <link rel="stylesheet" href="~/assets/vendor/owl-carousel/css/owl.carousel.css">
    <link rel="stylesheet" href="~/assets/vendor/animate/animate.css">
    <link rel="stylesheet" href="~/assets/css/theme.css">
</head>

<form asp-route-returnUrl="@Model.ReturnUrl" method="post">
    <hr>
    <h4>Registration for CBA Manitoba Membership</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Input.FirstName"></label>
                <input asp-for="Input.FirstName" class="form-control" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Input.LastName"></label>
                <input asp-for="Input.LastName" class="form-control" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
        </div>

    </div>

    <div class="form-group">
        <label asp-for="Input.Email"></label>
        <input asp-for="Input.Email" class="form-control" />
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Input.ContactNumber"></label>
        <input asp-for="Input.ContactNumber" class="form-control" />
        <span asp-validation-for="Input.ContactNumber" class="text-danger"></span>
    </div>





    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Input.Address"></label>
                <input asp-for="Input.Address" class="form-control" />
                <span asp-validation-for="Input.Address" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Input.City"></label>
                <input asp-for="Input.City" class="form-control" />
                <span asp-validation-for="Input.City" class="text-danger"></span>
            </div>
        </div>


    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Input.Province"></label>
                <span asp-validation-for="Input.Province" class="text-danger"></span>
                <select asp-for="Input.City" class="form-control" name="Province">
                    <option value="0">Manitoba</option>                      
                    <option value="1">Alberta</option>
                    <option value="2">British Columbia</option>
                    <option value="3">Newfoundland and Labrador</option>
                    <option value="4">Northwest Territories</option>
                    <option value="5">Nova Scotia</option>
                    <option value="6">Nunavut</option>
                    <option value="7">Ontario</option>
                    <option value="8">Prince Edward Island</option>
                    <option value="9">Quebec</option>
                    <option value="10">Saskatchewan</option>
                    <option value="11">Yukon</option>
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Input.PostalCode"></label>
                <input asp-for="Input.PostalCode" class="form-control" />
                <span asp-validation-for="Input.PostalCode" class="text-danger"></span>
            </div>
        </div>


    </div>

   

    @*<div class="form-group">
        <label asp-for="Input.Password"></label>
        <input asp-for="Input.Password" class="form-control" />
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Input.ConfirmPassword"></label>
        <input asp-for="Input.ConfirmPassword" class="form-control" />
        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
    </div>*@
    <button type="submit" class="btn btn-primary">Register</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
