<!DOCTYPE html>
<html lang="en">
@{ 
    Layout = "/views/shared/_LayoutNormalPages.cshtml";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="copyright" content="CBA Manitoba, /About">
    <title>CBA Manitoba</title>
    <link rel="stylesheet" href="~/assets/css/maicons.css">
    <link rel="stylesheet" href="~/assets/css/bootstrap.css">
    <link rel="stylesheet" href="~/assets/vendor/owl-carousel/css/owl.carousel.css">
    <link rel="stylesheet" href="~/assets/vendor/animate/animate.css">
    <link rel="stylesheet" href="~/assets/css/theme.css">
</head>
<body>

    <!-- Back to top button -->
    <div class="back-to-top"></div>
    <div class="page-banner overlay-dark bg-image" style="background-image: url(../assets/img/CBA_Manitoba_Cover.jpg);">
        <div class="banner-section">
            <div class="container text-center wow fadeInUp">
                <nav aria-label="Breadcrumb">
                    <ol class="breadcrumb breadcrumb-dark bg-transparent justify-content-center py-0 mb-2">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">About</li>
                    </ol>
                </nav>
                <h1 class="font-weight-normal">About Us</h1>
            </div> <!-- .container -->
        </div> <!-- .banner-section -->
    </div> <!-- .page-banner -->

    <div class="page-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 wow fadeInUp">
                    <h1 class="text-center mb-3">Welcome to CBA Manitoba</h1>
                    <div class="text-lg">
                        <p>The Canada-Bangladesh Association of Manitoba (CBA) of Manitoba is a comprehensive socio-cultural and philanthropic forum of the immigrant Bangladeshis in Manitoba. It is a non-political, non-discriminatory, and non-profit association.</p>
                        <p>Responding to a humanitarian urge to save millions of Bangladeshi war refugees from death and decay, CBA began its journey in 1971 to voice expatriate protest against genocide and atrocities of the Pakistan army, as well as extend charitable support to refugee camp dwellers in India. In 1988, a catastrophic flood caused inundation of sixty percent of Bangladesh landscape. The disaster claimed thousands of lives, and devastated economy and livelihood of, Bangladesh people. Despite being a small community, Bangladeshi Manitobans once again joined in hand to reestablish CBA as a vanguard of humanitarian causes.</p>
                        <p>Canada-Bangladesh Association of Manitoba dreams of a healthy Manitoba with healthy children nurtured and groomed in healthy abodes with love, respect, dignity and dedication for human causes alongside deep enthusiasm and reverence for culture of heritage of the predecessors – the Bangladeshis.</p>
                        <p>CBA looks forward to sowing seeds of respect among the community members to multiculturalism, multi-faith and common humanity principles. The mission, therefore, is to turn this cultural premise into a large training ground for connecting the community’s past with the present, and upholding and safeguarding the sovereignty of Bangladeshi culture from vulnerability and subjection to non-cultural elements.</p>
                        <p>The objective of CBA is to dedicate its strength to make Bangladesh community members always feel at home in Canada, specifically in Manitoba; through instilling in them a sense of belonging, patriotism, safety, security, comfort, respect, and dignity and pride. The outcome, in other words, is to make them proudly declare – ‘Canada is our home’.</p>
                    </div>
                </div>
                <div class="col-lg-10 mt-5">
                    @*<h1 class="text-center mb-5 wow fadeInUp">Executive Committee</h1>*@
                <div class="row justify-content-center">
                         <div class="page-section">
        <div class="container">
            <h1 class="text-center mb-5 wow fadeInUp">Executive Committee</h1>

            <div class="owl-carousel wow fadeInUp" id="doctorSlideshow">
                <div class="item">
                    <div class="card-doctor">
                        <div class="header">
                            <img src="~/img/cbaexecutives/president.JPG" alt="">
                            <div class="meta">
                                <a href="#"><span class="mai-call"></span></a>
                                <a href="#"><span class="mai-logo-whatsapp"></span></a>
                            </div>
                        </div>
                        <div class="body">
                            <p class="text-xl mb-0">Sharif Islam</p>
                            <span class="text-sm text-grey">President</span>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="card-doctor">
                        <div class="header">
                            <img src="~/img/cbaexecutives/Vice_president.JPG" alt="">
                            <div class="meta">
                                <a href="#"><span class="mai-call"></span></a>
                                <a href="#"><span class="mai-logo-whatsapp"></span></a>
                            </div>
                        </div>
                        <div class="body">
                            <p class="text-xl mb-0">Afruza Islam</p>
                            <span class="text-sm text-grey">Vice President</span>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="card-doctor">
                        <div class="header">
                            <img src="~/img/cbaexecutives/Vice_President (2).jpg" alt="">
                            <div class="meta">
                                <a href="#"><span class="mai-call"></span></a>
                                <a href="#"><span class="mai-logo-whatsapp"></span></a>
                            </div>
                        </div>
                        <div class="body">
                            <p class="text-xl mb-0">Hafiz Al Asad</p>
                            <span class="text-sm text-grey">Vice President</span>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="card-doctor">
                        <div class="header">
                            <img src="~/img/cbaexecutives/General_Secretary.jpg" alt="">
                            <div class="meta">
                                <a href="#"><span class="mai-call"></span></a>
                                <a href="#"><span class="mai-logo-whatsapp"></span></a>
                            </div>
                        </div>
                        <div class="body">
                            <p class="text-xl mb-0">Mahid Ahsan</p>
                            <span class="text-sm text-grey">General Secretary</span>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="card-doctor">
                        <div class="header">
                            <img src="~/img/cbaexecutives/ASST_General_Secretary1.jpg" alt="">
                            <div class="meta">
                                <a href="#"><span class="mai-call"></span></a>
                                <a href="#"><span class="mai-logo-whatsapp"></span></a>
                            </div>
                        </div>
                        <div class="body">
                            <p class="text-xl mb-0">AKM Monsurul Alam</p>
                            <span class="text-sm text-grey">ASST. General Secretary</span>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="card-doctor">
                        <div class="header">
                            <img src="~/img/cbaexecutives/ASST_General_Secretary2.jpg" alt="">
                            <div class="meta">
                                <a href="#"><span class="mai-call"></span></a>
                                <a href="#"><span class="mai-logo-whatsapp"></span></a>
                            </div>
                        </div>
                        <div class="body">
                            <p class="text-xl mb-0">Sultana Yeasmin</p>
                            <span class="text-sm text-grey">ASST. General Secretary</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-section banner-home bg-image" style="background-image: url(../assets/img/banner-pattern.svg);">
        <div class="container py-5 py-lg-0">
            <div class="row align-items-center">
                <div class="col-lg-4 wow zoomIn">
                    <div class="img-banner d-none d-lg-block">
                        <img src="../assets/img/mobile_app.png" alt="">
                    </div>
                </div>
                <div class="col-lg-8 wow fadeInRight">
                    <h1 class="font-weight-normal mb-3">Get easy access of all features using One Health Application</h1>
                    <a href="#"><img src="../assets/img/google_play.svg" alt=""></a>
                    <a href="#" class="ml-2"><img src="../assets/img/app_store.svg" alt=""></a>
                </div>
            </div>
        </div>
    </div> <!-- .banner-home -->
</body>
</html>